:root {
    --main-theme-color: #ffa500;
    --white-color: #ffffff;
    --nature-black-color: #111810;
    --gray-color: #808080;
    --base-font-size: 14px;
}

html {
    font-size: var(--base-font-size);
}

body {
    margin: 0;
}

h1 {
    font-size: 1.6rem;
    font-weight: bold;
}