.fixed-container {
    position: fixed;
    z-index: 20;
    display: flex;

}

.action-bar-container {
    inset: 10px 50%;
    width: 350px;
    height: 60px;
    justify-content: center;
    transform: translate(-50%);
}

.new-task-controls {
    right: 40px;
    bottom: 40px;

}

.action-bar {
    backdrop-filter: blur(5px);
    display: flex;
    gap: 20px;
    position: absolute;
    box-shadow: 0 0 10px 2px var(--nature-black-color);
    padding: 10px 30px;
    border-radius: 15px;
}